{% load static %}

<!-- Footer -->
		<footer class="footer-two">

			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row g-4">
						<div class="col-lg-5 col-md-12">

							<!-- Footer Widget -->
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									{% if site_setting.footer_logo %}
									<img src="{{ site_setting.footer_logo.url }}" class="footer-logo" alt="logo">
									{% endif %}
								</div>
								<div class="footer-about-content">
									<h4 class="text-white mb-3">শেরপুর এভারকেয়ার হাসপাতাল </h4>
									<p>আমাদের লক্ষ্য হল সাশ্রয়ী মূল্যে সর্বোচ্চ মানের চিকিৎসা সেবা পৌঁছে দেওয়া।</p>
									<div class="social-icon">
										<ul>
											
											{% if site_setting.facebook_url %}
											<li><a target="_blank" href="{{ site_setting.facebook_url }}"><i class="fa-brands fa-facebook"></i></a></li>
											{% endif %}

											{% if site_setting.instagram_url %}
											<li><a target="_blank" href="{{ site_setting.instagram_url }}"><i class="fa-brands fa-instagram"></i></a></li>
											{% endif %}

											{% if site_setting.tiktok_url %}
											<li><a target="_blank" href="{{ site_setting.tiktok_url }}"><i class="fa-brands fa-tiktok"></i></a></li>
											{% endif %}

											{% if site_setting.linkedin_url %}
											<li><a target="_blank" href="{{ site_setting.linkedin_url }}"><i class="fa-brands fa-square-linkedin"></i></a></li>
											{% endif %}

											{% if site_setting.twiter_url %}
											<li><a target="_blank" href="{{ site_setting.twiter_url }}"><i class="fa-brands fa-x-twitter"></i></a></li>
											{% endif %}
											{% if site_setting.youtube_url %}
											<li><a target="_blank" href="{{ site_setting.youtube_url }}"><i class="fa-brands fa-youtube"></i></a></li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
							<!-- Footer Widget End -->

						</div>

						<div class="col-lg-3 col-md-5">

							<!-- Footer Widget -->
							<div class="footer-widget">
								<h5 class="footer-title">Quick Link</h5>
								<ul class="footer-menu">
									<li><a href="{% url 'about_us' %}">আমাদের সম্পর্কে</a></li>
									<li><a href="{% url 'doctors' %}">বিশেষজ্ঞ ডাক্তারগণ</a></li>
									<li><a href="{% url 'departments' %}">বিভাগ সমূহ</a></li>
									<li><a href="{% url 'services' %}">সেবা সমূহ</a></li>
									
									<li><a href="{% url 'appointment' %}">অ্যাপয়েন্টমেন্ট নিন</a></li>
									<li><a href="{% url 'contact_us' %}">যোগাযোগ করুন</a></li>
								</ul>
							</div>
							<!-- Footer Widget End -->

						</div>

						<!-- <div class="col-xl-2 col-lg-3 col-md-6">

							<div class="footer-widget footer-contact">
								<h5 class="footer-title">Need help?</h5>
								<div class="contact-info">
									<span>Visit Our Clinic</span>
									<p>1250 Sunset Boulevard</p>
								</div>
								<div class="contact-info">
									<span>General Inquiries</span>
									<p><a href="https://doccure.dreamstechnologies.com/cdn-cgi/l/email-protection#2c45424a436c49544d415c4049024f4341"><span class="__cf_email__" data-cfemail="472e29212807223f262a372b226924282a">[email&#160;protected]</span></a></p>
								</div>
								<div class="contact-info">
									<span>Call us on</span>
									<p><a href="tel:5456564578">+1 54565 64578</a></p>
								</div>
							</div>

						</div> -->

						<div class="col-lg-4 col-md-7">

							<!-- Footer Widget -->
							<div class="footer-widget">
								<h5 class="footer-title">আমাদের সাথে যোগাযোগ রাখুন</h5>
								<div class="footer-subscribe">
									<p>হাসপাতাল থেকে সর্বশেষ খবর ও আপডেট পেতে আমাদের নিউজলেটারে সাবস্ক্রাইব করুন!</p>
									<div class="subscribe-input">
										<form action="{% url 'subscribe' %}" method="POST">  {% csrf_token %}
											<input type="email" name="subscribe-email" class="form-control" placeholder="ইমেল ঠিকানা লিখুন" required>
											<button type="submit" class="btn-icon btn btn-primary-gradient"><i class="isax isax-arrow-right-1"></i></button>
										</form>

									</div>
								</div>
							</div>
							<!-- Footer Widget End -->

						</div>

					</div>
				</div>
				<img src="{% static 'img/bg/footer-bg-06.png' %}" alt="bg" class="footer-bg-01">
				<img src="{% static 'img/bg/footer-bg-07.png' %}" alt="bg" class="footer-bg-02">
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">

					<!-- Copyright -->
					<div class="copyright">
						<div class="copyright-text">
							<p class="mb-0">Copyright &copy; 
								<script>document.write( new Date().getFullYear())</script>
								সর্বস্বত্ব সংরক্ষিত | শেরপুর এভারকেয়ার হাসপাতাল</p>
						</div>
						<div class="copyright-menu">
							<ul>
								<li><a href="{% url 'blood_donors' %}">ব্লাড ব্যাংক</a></li>
								<li><a href="{% url 'blogs' %}">ব্লগ</a></li>

								<!-- <li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Refund Policy</a></li> -->

							</ul>
						</div>
					</div>
					<!-- Copyright End -->

				</div>
			</div>
			<!-- Footer Bottom End -->

		</footer>
		<!-- Footer End -->












<!-- 
{% if site_setting.footer_logo %}
      <img src="{{ site_setting.footer_logo.url }}" class="footer-logo" alt="{{ site_setting.meta_title }}">
      {% endif %} -->


  <!-- <p><i class="fa-solid fa-location-dot"></i> {{ site_setting.location }}</p>

      <p><i class="fa-solid fa-phone"></i>{{ site_setting.mobile }} </p>

      <p><i class="fa-solid fa-envelope"></i>{{ site_setting.email }}</p>
       -->


       <!-- Footer bottom -->
  <!-- <div class="footer-bottom">
    <p>
        <script>document.write(new Date().getFullYear())</script>
        © <span id="currentYear"></span> Padma Army Welfare Trust Rest House | All rights reserved.
      </p>

    <ul class="social-media">
      <li><a href="{{ site_setting.facebook_url }}" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="{{ site_setting.instagram_url }}" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="{{ site_setting.tiktok_url }}" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
      <li><a href="{{ site_setting.linkedin_url }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="{{ site_setting.twitter_url }}" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li><a href="{{ site_setting.youtube_url }}" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
  </div> -->

