{% load static %}
<!-- Header -->
		<header class="header header-two home-menu">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<i class="fa-solid fa-bars"></i>
						</a>
						<a href="index-2.html" class="navbar-brand logo">
							<img src="assets/img/logo-white-02.svg" class="img-fluid white-logo" alt="Logo">
							<img src="assets/img/logo-02.svg" class="img-fluid normal-logo" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index-2.html" class="menu-logo">
								<img src="assets/img/logo-02.svg" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu megamenu active">
								<a href="javascript:void(0);" class="main-menu">Home <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="submenu mega-submenu">
									<li>
										<div class="megamenu-wrapper">
											<div class="row">
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index.html" class="inner-demo-img"><img src="assets/img/home/home.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index.html" class="inner-demo-img">General Home 1</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo active">
														<div class="demo-img">
															<a href="index-2.html" class="inner-demo-img"><img src="assets/img/home/home-01.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-2.html" class="inner-demo-img">General Home 2</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-3.html" class="inner-demo-img"><img src="assets/img/home/home-02.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-3.html" class="inner-demo-img">Dental</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-4.html" class="inner-demo-img"><img src="assets/img/home/home-03.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-4.html" class="inner-demo-img">Pediatrics</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-5.html" class="inner-demo-img"><img src="assets/img/home/home-04.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-5.html" class="inner-demo-img">ENT</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-6.html" class="inner-demo-img"><img src="assets/img/home/home-05.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-6.html" class="inner-demo-img">Veterinary</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index-7.html" class="inner-demo-img"><img src="assets/img/home/home-06.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-7.html" class="inner-demo-img">Cardiology</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-8.html" class="inner-demo-img"><img src="assets/img/home/home-07.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-8.html" class="inner-demo-img">Eye Care</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-9.html" class="inner-demo-img"><img src="assets/img/home/home-08.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-9.html" class="inner-demo-img">Home Care</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-10.html" class="inner-demo-img"><img src="assets/img/home/home-09.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-10.html" class="inner-demo-img">Fertility</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-11.html" class="inner-demo-img"><img src="assets/img/home/home-10.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-11.html" class="inner-demo-img">Cosmetic Surgery</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-12.html" class="inner-demo-img"><img src="assets/img/home/home-11.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-12.html" class="inner-demo-img">Laboratory</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-13.html" class="inner-demo-img"><img src="assets/img/home/home-12.jpg" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-13.html" class="inner-demo-img">Pharmacy</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="#" class="inner-demo-img"><img src="assets/img/home/coming-soon.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="#" class="inner-demo-img">Coming Soon</a>
														</div>
													</div>
												</div>
												<div class="col">
													<div class="single-demo">
														<div class="demo-img">
															<a href="#" class="inner-demo-img"><img src="assets/img/home/coming-soon.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="#" class="inner-demo-img">Coming Soon</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);" class="main-menu">Doctors <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="submenu sub-menu-one">
									<li>
										<div class="row">
											<div class="col-lg-6">
												<ul class="sub-menu-list">
													<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
													<li><a href="appointments.html">Appointments</a></li>
													<li><a href="available-timings.html">Available Timing</a></li>
													<li><a href="my-patients.html">Patients List</a></li>
													<li><a href="chat-doctor.html">Chat</a></li>
													<li><a href="invoices.html">Invoices</a></li>
													<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
												</ul>
											</div>
											<div class="col-lg-6">
												<div class="menu-img">
													<img src="assets/img/home/menu-img-1.jpg" alt="listing" class="img-fluid">
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);" class="main-menu">Patients <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="submenu sub-menu-one sub-menu-two">
									<li>
										<div class="row">
											<div class="col-lg-4 sub-menu-left">
												<ul class="sub-menu-list">
													<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
													<li><a href="map-grid.html">Doctors Grid</a></li>
													<li><a href="map-list.html">Doctors List</a></li>
													<li><a href="map-list-availability.html">Doctors Availability</a></li>
													<li><a href="booking.html">Booking</a></li>
													<li><a href="booking-1.html">Booking 1</a></li>
													<li><a href="booking-2.html">Booking 2</a></li>
													<li><a href="booking-popup.html">Booking Popup</a></li>
												</ul>
											</div>
											<div class="col-lg-4">
												<ul class="sub-menu-list">
													<li><a href="search.html">Search Doctor 1</a></li>
													<li><a href="search-2.html">Search Doctor 2</a></li>
													<li><a href="doctor-profile.html">Doctor Profile 1</a></li>
													<li><a href="doctor-profile-2.html">Doctor Profile 2</a></li>
													<li><a href="checkout.html">Checkout</a></li>
													<li><a href="favourites.html">Favourites</a></li>
													<li><a href="chat.html">Chat</a></li>
													<li><a href="profile-settings.html">Profile Settings</a></li>
												</ul>
											</div>
											<div class="col-lg-4">
												<div class="menu-img">
													<img src="assets/img/home/menu-img-2.jpg" alt="listing" class="img-fluid">
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);" class="main-menu">Pharmacy <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="submenu sub-menu-one sub-menu-three">
									<li>
										<div class="row">
											<div class="col-lg-6">
												<ul class="sub-menu-list">
													<li><a href="index-13.html">Pharmacy</a></li>
													<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
													<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
													<li><a href="product-all.html">Product</a></li>
													<li><a href="product-description.html">Product Description</a></li>
													<li><a href="cart.html">Cart</a></li>
													<li><a href="product-checkout.html">Product Checkout</a></li>
													<li><a href="payment-success.html">Payment Success</a></li>
													<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
												</ul>
											</div>
											<div class="col-lg-6">
												<div class="menu-img">
													<img src="assets/img/home/menu-img-3.jpg" alt="listing" class="img-fluid">
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="has-submenu megamenu">
								<a href="javascript:void(0);" class="main-menu">Pages <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="submenu mega-submenu">
									<li>
										<div class="megamenu-wrapper megamenu-wrapper-one">
											<div class="row">
												<div class="col-lg-3 sub-menu-left">
													<ul class="sub-menu-list">
														<li><a href="about-us.html">About Us</a></li>
														<li><a href="contact-us.html">Contact Us</a></li>
														<li><a href="hospitals.html">Hospitals</a></li>
														<li><a href="speciality.html">Speciality</a></li>
														<li><a href="clinic.html">Clinic</a></li>
														<li><a href="blank-page.html">Starter Page</a></li>
														<li><a href="pricing.html">Pricing Plan</a></li>
														<li><a href="faq.html">FAQ</a></li>
													</ul>
												</div>
												<div class="col-lg-3 sub-menu-left">
													<ul class="sub-menu-list">
														<li><a href="login-email.html">Login Email</a></li>
														<li><a href="login-phone.html">Login Phone</a></li>
														<li><a href="doctor-signup.html">Doctor Signup</a></li>
														<li><a href="patient-signup.html">Patient Signup</a></li>
														<li><a href="forgot-password.html">Forgot Password 1</a></li>
														<li><a href="forgot-password2.html">Forgot Password 2</a></li>
														<li><a href="login-email-otp.html">Email OTP</a></li>
														<li><a href="login-phone-otp.html">Phone OTP</a></li>
													</ul>
												</div>
												<div class="col-lg-3 sub-menu-left">
													<ul class="sub-menu-list">
														<li><a href="maintenance.html">Maintenance</a></li>
														<li><a href="coming-soon.html">Coming Soon</a></li>
														<li><a href="terms-condition.html">Terms & Condition</a></li>
														<li><a href="privacy-policy.html">Privacy Policy</a></li>
														<li><a href="components.html">Components</a></li>
														<li><a href="invoices.html">Invoices</a></li>
														<li><a href="invoice-view.html">Invoice View</a></li>
													</ul>
												</div>
												<div class="col-lg-3">
													<ul class="sub-menu-list">
														<li><a href="voice-call.html">Voice Call</a></li>
														<li><a href="video-call.html">Video Call</a></li>
														<li><a href="error-404.html">404 Error</a></li>
														<li><a href="error-500.html">500 Error</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#" class="main-menu">Blog <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="submenu sub-menu-one sub-menu-default">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#" class="main-menu">Admin <span><i class="fas fa-chevron-down"></i></span></a>
								<ul class="submenu sub-menu-one sub-menu-default">
									<li><a href="admin/index.html" target="_blank">Admin</a></li>
									<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
								</ul>
							</li>
						</ul>
						<div class="header-items">
							<!-- Item 1 -->
							<div class="about-popup-item border-0 pb-0">
								<h3 class="title">Contact Information</h3>
								<div class="support-item mb-3">
									<div class="avatar avatar-lg bg-primary rounded-circle">
										<i class="isax isax-messages-3"></i>
									</div>
									<div>
										<p class="title">General Inquiries</p>
										<h5 class="link"><a href="https://doccure.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="731a1d151c33160b121e031f165d101c1e">[email&#160;protected]</a></h5>
									</div>
								</div>
								<div class="support-item">
									<div class="avatar avatar-lg bg-primary rounded-circle">
										<i class="isax isax-call-calling"></i>
									</div>
									<div>
										<p class="title">Emergency Cases</p>
										<h5 class="link">+1 24565 89856</h5>
									</div>
								</div>
							</div>
							<!-- Item 2 -->
							<div class="about-popup-item border-0 pb-0">
								<h3 class="title">Follow Us</h3>
								<ul class="d-flex align-items-center gap-2 social-iyem">
									<li>
										<a href="javascript:void(0);" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
									</li>
								</ul>
							</div>

							<div class="header-items-button">
								<a href="login.html" class="btn btn-primary"><i class="isax isax-lock-1 me-2"></i>Sign In</a>
								<a href="register.html" class="btn btn-secondary"><i class="isax isax-user-tick4 me-2"></i>Sign Up</a>
							</div>
						</div>
					</div>
					<ul class="nav header-navbar-rht">
						<li>
							<a href="login.html" class="btn btn-md btn-primary">
								<i class="isax isax-lock-1"></i> <span>Sign Up</span> 
							</a>
						</li>
						<li>
							<a href="register.html" class="btn btn-md btn-secondary">
								<i class="isax isax-user-tick"></i> <span>Register</span> 
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- Header End -->
















        <!-- <div class="navigation-top-left">
            <a class="box" target="_blank" href="{{ site_setting.facebook_url }}">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="box" target="_blank" href="{{ site_setting.instagram_url }}">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="box" target="_blank" href="{{ site_setting.tiktok_url }}">
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <a class="box" target="_blank" href="{{ site_setting.twitter_url }}">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a class="box" target="_blank" href="{{ site_setting.linkedin_url }}">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="box" target="_blank" href="{{ site_setting.youtube_url }}">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div> -->


