{% load static %}

<!-- Header -->
<header class="header header-default inner-header position-fixed z-3 w-100 top-0">
	<div class="container">
		<nav class="navbar navbar-expand-lg header-nav">
			<div class="navbar-header">
				<a id="mobile_btn" href="#">
					<i class="fa-solid fa-bars"></i>
				</a>
				<a href="{% url 'index' %}" class="navbar-brand logo">
					{% if site_setting.header_logo %}
					<img src="{{ site_setting.header_logo.url }}" class="header-logo" alt="Logo">
					{% endif %}
				</a>
			</div>
			<div class="header-menu">
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="index.html" class="menu-logo">
							{% if site_setting.header_logo %}
							<img src="{{ site_setting.header_logo.url }}" class="img-fluid" alt="Logo">
							{% endif %}
						</a>
						<a id="menu_close" class="menu-close" href="#">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<ul class="main-nav">
						<!-- <li class="has-submenu megamenu">
							<a href="{% url 'index' %}" class="main-menu active">Home
								 <span><i class="fa-solid fa-chevron-down"></i></span> 
								</a>
							<ul class="submenu mega-submenu">
								<li>
									<div class="megamenu-wrapper">
										<div class="row">
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index.html" class="inner-demo-img"><img src="assets/img/home/home.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index.html" class="inner-demo-img">General Home 1</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo ">
													<div class="demo-img">
														<a href="index-2.html" class="inner-demo-img"><img src="assets/img/home/home-01.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-2.html" class="inner-demo-img">General Home 2</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-3.html" class="inner-demo-img"><img src="assets/img/home/home-02.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-3.html" class="inner-demo-img">Dental</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-4.html" class="inner-demo-img"><img src="assets/img/home/home-03.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-4.html" class="inner-demo-img">Pediatrics</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-5.html" class="inner-demo-img"><img src="assets/img/home/home-04.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-5.html" class="inner-demo-img">ENT</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-6.html" class="inner-demo-img"><img src="assets/img/home/home-05.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-6.html" class="inner-demo-img">Veterinary</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo ">
													<div class="demo-img">
														<a href="index-7.html" class="inner-demo-img"><img src="assets/img/home/home-06.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-7.html" class="inner-demo-img">Cardiology</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-8.html" class="inner-demo-img"><img src="assets/img/home/home-07.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-8.html" class="inner-demo-img">Eye Care</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-9.html" class="inner-demo-img"><img src="assets/img/home/home-08.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-9.html" class="inner-demo-img">Home Care</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-10.html" class="inner-demo-img"><img src="assets/img/home/home-09.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-10.html" class="inner-demo-img">Fertility</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-11.html" class="inner-demo-img"><img src="assets/img/home/home-10.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-11.html" class="inner-demo-img">Cosmetic Surgery</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-12.html" class="inner-demo-img"><img src="assets/img/home/home-11.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-12.html" class="inner-demo-img">Laboratory</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="index-13.html" class="inner-demo-img"><img src="assets/img/home/home-12.jpg" class="img-fluid" alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="index-13.html" class="inner-demo-img">Pharmacy</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="#" class="inner-demo-img"><img src="assets/img/home/coming-soon.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="#" class="inner-demo-img">Coming Soon</a>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="single-demo">
													<div class="demo-img">
														<a href="#" class="inner-demo-img"><img src="assets/img/home/coming-soon.jpg" class="img-fluid " alt="img"></a>
													</div>
													<div class="demo-info">
														<a href="#" class="inner-demo-img">Coming Soon</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul> 
						</li> -->

						<!-- <li class="has-submenu">
							<a href="{% url 'doctors' %}" class="main-menu">Doctors 
								<span><i class="fa-solid fa-chevron-down"></i></span> 
							</a>
							<ul class="submenu sub-menu-one">
								<li>
									<div class="row">
										<div class="col-lg-6">
											<ul class="sub-menu-list">
												<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
												<li><a href="appointments.html">Appointments</a></li>
												<li><a href="available-timings.html">Available Timing</a></li>
												<li><a href="my-patients.html">Patients List</a></li>
												<li><a href="chat-doctor.html">Chat</a></li>
												<li><a href="invoices.html">Invoices</a></li>
												<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
											</ul>
										</div>
										<div class="col-lg-6">
											<div class="menu-img">
												<img src="assets/img/home/menu-img-1.jpg" alt="listing" class="img-fluid">
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li> -->

						<li class="has-submenu"><a href="{% url 'index' %}" class="main-menu {% if request.resolver_match.url_name == 'index' %}active{% endif %}">Home</a></li>
						<li class="has-submenu"><a href="{% url 'about_us' %}" class="main-menu {% if request.resolver_match.url_name == 'about_us' %}active{% endif %}">About Us</a></li>
						<li class="has-submenu"><a href="{% url 'doctors' %}" class="main-menu {% if request.resolver_match.url_name == 'doctors' %}active{% endif %}">Doctors</a></li>
						<li class="has-submenu"><a href="{% url 'appointment' %}" class="main-menu {% if request.resolver_match.url_name == 'appointment' %}active{% endif %}">Appointment</a></li>
						<li class="has-submenu"><a href="{% url 'departments' %}" class="main-menu {% if request.resolver_match.url_name == 'departments' %}active{% endif %}">Departments</a></li>
						<li class="has-submenu"><a href="{% url 'services' %}" class="main-menu {% if request.resolver_match.url_name == 'services' %}active{% endif %}">Services</a></li>
						<li class="has-submenu"><a href="{% url 'blood_donors' %}" class="main-menu {% if request.resolver_match.url_name == 'blood_donors' %}active{% endif %}">Blood Bank</a></li>
						<li class="has-submenu"><a href="{% url 'blogs' %}" class="main-menu {% if request.resolver_match.url_name == 'blogs' %}active{% endif %}">Blogs</a></li>
						<li class="has-submenu"><a href="{% url 'contact_us' %}" class="main-menu {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">Contact</a></li>

					</ul>
					<div class="header-items">
						<!-- Item 1 -->
						<div class="about-popup-item border-0 pb-0">
							<h3 class="title">Contact Information</h3>
							<div class="support-item mb-3">
								<div class="avatar avatar-lg bg-primary rounded-circle">
									<i class="isax isax-messages-3"></i>
								</div>
								<div>
									<p class="title">General Inquiries</p>
									<h5 class="link"><a href="https://doccure.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="deb7b0b8b19ebba6bfb3aeb2bbf0bdb1b3">[email&#160;protected]</a></h5>
								</div>
							</div>
							<div class="support-item">
								<div class="avatar avatar-lg bg-primary rounded-circle">
									<i class="isax isax-call-calling"></i>
								</div>
								<div>
									<p class="title">Emergency Cases</p>
									<h5 class="link">+1 24565 89856</h5>
								</div>
							</div>
						</div>
						<!-- Item 2 -->
						<div class="about-popup-item border-0 pb-0">
							<h3 class="title">Follow Us</h3>
							<ul class="d-flex align-items-center gap-2 social-iyem">
								<li>
									<a href="#" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
								</li>
								<li>
									<a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
								</li>
								<li>
									<a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
								</li>
								<li>
									<a href="#" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
								</li>
							</ul>
						</div>

						<div class="header-items-button">
							<a href="login.html" class="btn btn-primary btn-primary-gradient"><i class="isax isax-lock-1 me-2"></i>Logout</a>
						</div>
					</div>
				</div>
			</div>
			<ul class="nav header-navbar-rht">
				<!-- <li class="search-item">
					<a href="#" class="details-btn" tabindex="-1"  data-bs-toggle="offcanvas" data-bs-target="#search_popup" aria-controls="search_popup">
						<i class="isax isax-search-normal-1"></i>
					</a>
				</li>
				<li class="noti-nav dropdown">
					<a href="#" class="details-btn" data-bs-toggle="dropdown" aria-label="Notification">
						<i class="isax isax-notification-bing"></i>
						<span class="badge"></span>
					</a>
					<div class="dropdown-menu notifications dropdown-menu-end">
						<div class="topnav-dropdown-header">
							<span class="notification-title">Notifications</span>
						</div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<span class="avatar">
												<img class="avatar-img" alt="Ruby perin" src="assets/img/clients/client-01.jpg">
											</span>
											<div class="media-body">
												<h6>Travis Tremble <span class="notification-time">18.30 PM</span></h6>
												<p class="noti-details">Sent a amount of $210 for his Appointment  <span class="noti-title">Dr.Ruby perin </span></p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<span class="avatar">
												<img class="avatar-img" alt="Hendry Watt" src="assets/img/clients/client-02.jpg">
											</span>
											<div class="media-body">
												<h6>Kelly Stevens <span class="notification-time">12 Min Ago</span></h6>
												<p class="noti-details"> has booked her appointment to  <span class="noti-title">Dr. Hendry Watt</span></p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<div class="avatar">
												<img class="avatar-img" alt="Maria Dyen" src="assets/img/clients/client-03.jpg">
											</div>
											<div class="media-body">
												<h6>Robert Joe <span class="notification-time">6 Min Ago</span></h6>
												<p class="noti-details"> Sent a amount  $210 for his Appointment   <span class="noti-title">Dr.Maria Dyen</span></p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<div class="avatar avatar-sm">
												<img class="avatar-img" alt="client-image" src="assets/img/clients/client-04.jpg">
											</div>
											<div class="media-body">
												<h6>Samuel Jord <span class="notification-time">8.30 AM</span></h6>
												<p class="noti-details"> Send a message to his doctor</p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="details-btn" data-bs-toggle="offcanvas" data-bs-target="#support_item">
						<i class="isax isax-menu5"></i>
					</a>
				</li> -->


				<li class="dropdown has-arrow logged-item">
					<a href="#" data-bs-toggle="dropdown">
						<span class="user-img">
							<img class="rounded-circle" src="{% static 'img/doctors-dashboard/profile-06.jpg' %}" alt="Darren Elder">
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<div class="user-header">
							<div class="avatar">
								<img src="assets/img/doctors-dashboard/profile-06.jpg" alt="User Image" class="avatar-img rounded-circle">
							</div>
							<div class="user-text">
								<h6>Hendrita Hayes</h6>
								<p class="text-muted mb-0">Patient</p>
							</div>
						</div>
						<a class="dropdown-item" href="patient-dashboard.html">Dashboard</a>
						<a class="dropdown-item" href="profile-settings.html">Profile Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</header>
<!-- /Header -->