{% extends 'layouts/master.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} রক্তদাতা {% endblock title %}

{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar page-margin-top">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="isax isax-home-15 me-2"></i>হোম পেইজ</a></li>
                        <li class="breadcrumb-item active">রক্তদাতা</li>
                    </ol>
                    <h2 class="breadcrumb-title mt-4">রক্তদাতা </h2>
                </nav>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bg">
        <img src="{% static 'img/bg/breadcrumb-bg-01.png' %}" alt="img" class="breadcrumb-bg-01">
        <img src="{% static 'img/bg/breadcrumb-bg-02.png' %}" alt="img" class="breadcrumb-bg-02">
        <img src="{% static 'img/bg/breadcrumb-icon.png' %}" alt="img" class="breadcrumb-bg-03">
        <img src="{% static 'img/bg/breadcrumb-icon.png' %}" alt="img" class="breadcrumb-bg-04">
    </div>
</div>
<!-- /Breadcrumb -->


<!-- Service Section -->
<section class="section service-section pt-4 pt-lg-5">
    <div class="container">

        <div class="row g-4">

            <!-- Service Item -->
            
            

            <div class="col-12 col-md-9 d-flex">
                <div class="services-item-two bg-danger-transparent w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h2 class="mt-3">রক্ত দিন, জীবন বাচান</h2>
                    <p class="mt-2">আপনার সামান্য দানই হতে পারে কারও নতুন জীবনের আশা। 🩸</p>
                </div>
            </div>

            <div class="col-12 col-md-3 d-flex">
                <a href="{% url 'blood_donors' %}" style="width: 100%;">
                    <div class="donat-btn rounded p-4">
                        <div class=""><i class="fa-solid fa-droplet"></i></div>
                        <h2 class="mt-3">ব্লাড ব্যাংকে যান</h2>
                    </div>
                </a>
            </div>
            <!-- Service Item End -->

        

        </div>


        <!-- blood donor form start  -->
        <div class="container mt-5">
    <h2 class="mb-4 text-center" style="font-size: 30px;">রক্তদাতা নিবন্ধন ফর্ম</h2>

    <form method="POST" enctype="multipart/form-data" class="p-4 shadow rounded bg-light">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">আপনার নাম লিখুন *</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label class="form-label">আপনার মোবাইল নাম্বার *</label>
            {{ form.mobile }}
        </div>

        <div class="mb-3">
            <label class="form-label">রক্তের গ্রুপ *</label>
            {{ form.blood_group }}
        </div>

        <div class="mb-3">
            <label class="form-label">আপনার ঠিকানা *</label>
            {{ form.address }}
        </div>

        <div class="mb-3">
            <label class="form-label">ছবি</label>
            {{ form.photo }}
        </div>

        <div class="mb-3">
            <label class="form-label">সর্বশেষ রক্তদানের তারিখ</label>
            {{ form.last_donated }}
        </div>

        <button type="submit" class="btn btn-primary px-5">তথ্য সাবমিট করুন</button>
    </form>
</div>

    </div>
</section>
<!-- Service Section End -->

{% endblock content %}