{% load static %}


    <!-- slug = models.SlugField(unique=True, blank=True)
    bio = models.TextField(blank=True) -->

<div class="card doctor-list-card">
    <div class="d-md-flex">
        <div class="card-img card-img-hover">
            {% if doctor.doctor_image %}
            <a href="doctor-profile.html"><img src="{{ doctor.doctor_image.url }}" alt="{{ doctor.name }}"></a>
            {% endif %}
            <!-- <div class="grid-overlay-item d-flex align-items-center justify-content-between">
                <span class="badge bg-orange"><i class="fa-solid fa-star me-1"></i>4.8</span>
                <a href="javascript:void(0)" class="fav-icon">
                    <i class="fa fa-heart"></i>
                </a>
            </div> -->
        </div>
        <div class="card-body p-0">
            <div class="d-flex align-items-center justify-content-between border-bottom p-3">
                <a href="#" class="text-teal fw-semibold fs-24">{{ doctor.department }} বিভাগ</a>
                
                    {% if doctor.is_available and doctor.schedules.all %}
                    <span class="badge bg-success-light d-inline-flex align-items-center">
                        <i class="isax isax-tick-circle5 text-success me-2"></i> Available
                    </span>
                    {% else %}
                    <span class="badge bg-danger-light d-inline-flex align-items-center">
                        <!-- <i class="fa-solid fa-circle fs-5 me-1"></i> -->
                        <i class="fa-solid fa-circle-xmark me-2"></i> Unavailable
                    </span>
                    {% endif %}
                
            </div>
            <div class="p-3">
                <div class="doctor-info-detail pb-3">
                    <div class="row align-items-center gy-3">
                        <div class="col-sm-9">
                            <div>
                                <h6 class="d-flex align-items-center mb-1">
                                    <a href="doctor-profile.html">{{ doctor.name }}</a>
                                    <i class="isax isax-tick-circle5 text-success ms-2"></i>
                                </h6>
                                <p class="mb-2">
                                    {% for specialization in doctor.specializations.all %}
                                        {{ specialization.name }}
                                        {% if not forloop.last %}
                                            {% if forloop.counter == forloop.revcounter0|add:1 %} ও {% else %}, {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ doctor.qualification }} <br>
                                    {{ doctor.designation }} <br>
                                    <i class="isax isax-archive-14 text-dark me-2"></i> {{ doctor.experience_years }} বছরের অভিজ্ঞতা
                                    

                                    <!-- {% for hospital in doctor.hospitals.all %}
                                        {{ hospital.name }}
                                        {% if not forloop.last %}
                                            {% if forloop.counter == forloop.revcounter0|add:1 %} ও {% else %}, {% endif %}
                                        {% endif %}
                                    {% endfor %} -->
                                </p>
                                <p class="d-fle align-items-cente mb-0 fs-14">
                                    <i class="fa-solid fa-hospital me-2"></i>{{ doctor.hospital }}
                                    <i class="fa-solid fa-location-dot me-2 ms-md-4"></i>{{ doctor.hospital.address }}

                                    <!-- <a href="#" class="text-primary text-decoration-underline ms-2">Get Direction</a> -->
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div>
                                <!-- <p class="d-flex align-items-center mb-0 fs-14 mb-2">
                                    <i class="isax isax-language-circle text-dark me-2"></i>English, French
                                </p> -->
                                <!-- <p class="d-flex align-items-center mb-0 fs-14 mb-2">
                                    <i class="isax isax-like-1 text-dark me-2"></i>98% (252 / 287 Votes)
                                </p> -->
                                <!-- <p class="d-flex align-items-center mb-0 fs-14">
                                    <i class="isax isax-archive-14 text-dark me-2"></i> {{ doctor.experience_years }} বছরের অভিজ্ঞতা
                                </p> -->
                                <h5 class="mb-3" style="font-size: 15px;">ডাক্তারের সময়সূচী</h5>
                                {% for schedule in doctor.schedules.all %}
                                    <p>
                                        {{ schedule.get_day_of_week_display }}:
                                        {{ schedule.start_time | time:"h:i A" }} - {{ schedule.end_time | time:"h:i A" }}
                                    </p>
                                {% empty %}
                                    <p>No schedule available</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mt-3">
                    <div class="d-flex align-items-center flex-wrap row-gap-3">
                        <div class="me-3">
                            <p class="mb-1">পরামর্শ ফি</p>
                            <h3 class="text-orange">{{ doctor.consultation_fee | floatformat:0 }} টাকা </h3>
                        </div>
                        <!-- <p class="mb-0">Next available at <br>10:00 AM - 15 Oct, Tue</p> -->
                    </div>
                    <a href="{% url 'appointment' %}" class="btn btn-md btn-primary-gradient d-inline-flex align-items-center rounded-pill">
                        <i class="isax isax-calendar-1 me-2"></i>
                        অ্যাপয়েন্টমেন্ট বুক করুন
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>