{% extends 'layouts/master.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}    {% endblock title %}

{% block content %}

		<!-- Banner -->
		<section class="banner-section-two page-margin-top" style="background: radial-gradient(84.63% 354.2% at 71.21% 68.89%, #4EDEC1 0%, #283B8E 41.35%, #0AA79C 80.92%, #31436D 99.99%, #FFFFFF 100%);;">
			<div class="container">
				<div class="row align-items-end">
					<div class="col-xl-6">
						<div class="banner-content wow fadeInUp" data-wow-duration="1s">
							<div class="banner-badge">
								<span>Advanced Technology</span> 
								<p>Comprehensive diagnosis by top specialists.</p>
							</div>
							<h1>{{ hero_overview.heading }} </h1>
							<p>{{ hero_overview.short_description }}</p>
							<a href="{% url 'appointment' %}" class="btn btn-md btn-white"><i class="isax isax-lock me-2"></i>Book an Appointment</a>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="banner-img wow fadeInUp" data-wow-duration="2s">
							{% if hero_overview.image %}
							<img src="{{ hero_overview.image.url }}" alt="banner" class="img-fluid">
							{% endif %}
							<div class="banner-user-call">
								{% if hero_overview.calling_photo %}
								<span class="avatar">
									<img src="{{ hero_overview.calling_photo.url }}"  alt="patient" class="img-fluid rounded-circle">
								</span>
								{% else %}
								<span class="avatar">
									<img src="{% static 'img/patients/patient22.jpg' %}"  alt="patient" class="img-fluid rounded-circle">
								</span>
								{% endif %}
								<p>Calling.......</p>
							</div>
							<div class="call-items">
								<!-- <a href="#" class="item-1 item"><i class="isax isax-video"></i></a>
								<a href="#" class="item-2 item"><i class="isax isax-call-slash"></i></a>
								<a href="#" class="item-3 item"><i class="isax isax-microphone-2"></i></a> -->

								<a href="#" class="item-1 item"><i class="fa-solid fa-envelope-open"></i> </a>
								<a href="#" class="item-2 item"><i class="fa-solid fa-phone"></i></a>
								<a href="#" class="item-3 item"><i class="fa-brands fa-facebook"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img  src="{% static 'img/bg/banner-01.png' %}" alt="bg" class="img-fluid banner-bg-01">
			<img  src="{% static 'img/bg/banner-02.png' %}" alt="bg" class="img-fluid banner-bg-02">
			<img  src="{% static 'img/bg/banner-03.png' %}" alt="bg" class="img-fluid banner-bg-03">
			<img  src="{% static 'img/bg/banner-04.png' %}" alt="bg" class="img-fluid banner-bg-04">
			<img  src="{% static 'img/bg/banner-05.png' %}" alt="bg" class="img-fluid banner-bg-05">
			<img  src="{% static 'img/bg/banner-06.png' %}" alt="bg" class="img-fluid banner-bg-06">
			<img  src="{% static 'img/bg/banner-07.png' %}" alt="bg" class="img-fluid banner-bg-07">
		</section>
		<!-- Banner End -->

		<!-- Slider Section -->
		<section class="slider-section wow fadeInUp" data-wow-duration="1s">
			<div class="horizontal-slide slide-one bg-primary d-flex" data-direction="left" data-speed="slow">
				<div class="slide-list d-flex gap-4">
					<div class="services-slide">
						<h3>Certified Medical Professionals</h3>
					</div>
					<div class="services-slide">
						<h3>Advanced Diagnostic Tools</h3>
					</div>
					<div class="services-slide">
						<h3>Online Appointment Booking</h3>
					</div>
					<div class="services-slide">
						<h3>Electronic Health Records</h3>
					</div>
				</div>
			</div>
			<div class="horizontal-slide slide-two bg-dark d-flex" data-direction="right" data-speed="slow">
				<div class="slide-list d-flex gap-4">
					<div class="services-slide">
						<h3>Fast Reports & Test Results</h3>
					</div>
					<div class="services-slide">
						<h3>Telemedicine Consultations</h3>
					</div>
					<div class="services-slide">
						<h3>Health Monitoring & Follow-Ups</h3>
					</div>
					<div class="services-slide">
						<h3>Emergency & Critical Care</h3>
					</div>
				</div>
			</div>
		</section>
		<!-- Slider Section End -->

		<!-- Service Section -->
		<section class="section service-section pt-4 pt-lg-5">
			<div class="container">

				<a href="{% url 'services' %}" class="text-end text-primary d-block mb-4">See more</a>

				<div class="row g-4">

					<!-- Service Item -->
					<div class="col-xl-2 col-lg-4 col-sm-6 d-flex">
						<div class="services-item-two bg-primary-transparent w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
							<div class="service-icon">
								<img src="{% static 'img/icons/booking.svg' %}" alt="booking" class="img-fluid">
							</div>
							<h3><a href="booking.html">Book Appointment</a></h3>
						</div>
					</div>
					<!-- Service Item End -->

					<!-- Service Item -->
					{% for service in services %}
					<div class="col-xl-2 col-lg-4 col-sm-6 d-flex">
						<div class="services-item-two w-100 wow fadeInUp {% cycle 'bg-success-transparent' 'bg-pink-transparent' 'bg-gray-transparent' 'bg-secondary-transparent' 'bg-orange-transparent' 'bg-primary-transparent' %}" data-wow-delay="0.2s" data-wow-duration="2s">
							{% if service.service_icon %}
							<div class="service-icon">
								<img src="{{ service.service_icon.url }}" alt="lab" class="img-fluid">
							</div>
							{% endif %}
							<h3><a href="#">Lab Testing Services</a></h3>
						</div>
					</div>
					{% endfor %}
					<!-- Service Item End -->

				</div>

			</div>
		</section>
		<!-- Service Section End -->

		<!-- md message -->
		<section class="section md-message about-section-two">
			<div class="container">
				<div class="row g-4">
					<div class="col-md-3">
						{% if message.photo %}
						<img src="{{ message.photo.url }}" width="100%" height="auto" alt="{{ message.name }} photo">
						{% endif %}
						<div class="mt-4 name-box">
							<h5 class="mb-2">{{ message.name }}</h5>
							<p>{{ message.designation }}</p>
						</div>
					</div>

					<div class="col-md-9">
						<h3>{{ message.heading }}</h3>
						<p class="mt-4 mt-md-5 mb-1">Message From</p>
						<h5 class="mb-md-4 mb-3">{{ message.message_from }}</h5>
						<p>{{ message.message }}</p>
						<p class="mb-4">{{ message.message_optional }}</p>

						<a href="{% url 'about_us' %}" class="text-primary text-decoration-underline">Know more</a>
						<!-- <a href="about-us.html" class="btn btn-md btn-primary">Know More<i class="isax isax-arrow-right-34 ms-2"></i></a> -->
					</div>

				</div>
			</div>
			<img src="{% static 'img/bg/about-bg.png' %}" alt="icon" class="img-fluid about-bg-01">
		</section>
		<!-- About Section End -->

		<!-- Department Section -->
		<section class="section speciality-section-two">
			<div class="container">
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="{% static 'img/icons/section-icon.svg' %}" alt="icon">বিভাগ এবং বিশেষত্ব</div>
					<h2 class="section-title mb-0 mt-4">প্রতিটি প্রয়োজনে  <span>চিকিৎসা সহায়তা</span></h2>
				</div>

				<div class="row">
						{% for department in departments %}
						<div class="col-lg-3 col-sm-6">
							<div class="card speciality-item">
                                <div class="card-body p-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
											{% if department.department_icon %}
                                            <a href="doctor-grid.html" class="speciality-icon">
                                                <img src="{{ department.department_icon.url }}" alt="{{ department.name }} icon">
                                            </a>
											{% endif %}
                                            <div class="ms-3">
                                                <h6 class="mb-1"><a href="doctor-grid.html">{{ department.name }}</a></h6>
                                                <p class="fs-14 mb-0">151 Doctors</p>
                                            </div>
                                        </div>
                                        <a href="doctor-grid.html" class="link-icon"><i class="isax isax-arrow-right-3"></i></a>
                                    </div>
                                </div>
                            </div>
						</div>
						{% endfor %}

					
					</div>
                    <div class="loader-item text-center">
                        <a href="{% url 'departments' %}" class="btn btn-primary d-inline-flex align-items-center">
                            <i class="isax isax-d-cube-scan me-2"></i>See More 
                        </a>
                    </div>

				<!-- <div class="row justify-content-center g-4">

					
					<div class="col-xl-3 col-lg-4 col-md-6 d-flex">
						<div class="speciality-item-two w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
							<div class="speciality-info">
								<a href="doctor-grid.html" class="speciality-icon">
									<img src="assets/img/icons/specilaity-01.svg" alt="speciality">
								</a>
								<div>
									<h3 class="custom-title"><a href="doctor-grid.html">Urology</a></h3>
									<p>21 Doctors</p>
								</div>
							</div>
							<a href="doctor-grid.html" class="link-icon"><i class="isax isax-arrow-right-1"></i></a>
						</div>
					</div>

				</div> -->

			</div>
		</section>
		<!-- Department Section End -->

		<!-- Doctor Section -->
		<!-- <section class="section doctor-section-two">
			<div class="container">

				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="assets/img/icons/section-icon.svg" alt="icon">Our Team</div>
					<h2 class="section-title mb-0">Top Specialists <span>Dedicated to Your Care</span></h2>
				</div>

				<div class="row g-4">
					<div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">

						<div class="doctor-item-two">
							<div class="doctor-image">
								<a href="doctor-profile.html">
									<img class="img-fluid" alt="doctor" src="assets/img/doctors/general-01.jpg">
								</a>
							</div>
							<div class="doctor-content">
								<h3 class="custom-title">
									<a href="doctor-profile.html">Dr. Hattie Driskell</a>
								</h3>
								<p class="speciality">Orthopedic</p>
								<div class="available-info">
									<p><i class="isax isax-location me-1"></i>Los Angeles, CA</p>
									<span class="badge bg-success"><i class="fa-solid fa-circle fs-5 me-1"></i>Available</span>
								</div>
								<a href="booking.html" class="btn btn-md btn-light w-100"><i class="isax isax-calendar-1 me-2"></i>Book Now</a>
							</div>
						</div>

					</div>

				</div>
			</div>
			<img src="assets/img/bg/doctor-bg-01.png" alt="bg" class="img-fluid doctor-bg-01">
			<img src="assets/img/bg/about-bg.png" alt="bg" class="img-fluid doctor-bg-02">
		</section> -->
		<!-- Doctor Section End -->
		 
		<!-- Speciality Section -->
		<section class="section speciality-section-two">
			<div class="container">
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="{% static 'img/icons/section-icon.svg' %}" alt="icon">বিভাগ ও ডাক্তার</div>
					<!-- <h2 class="section-title mb-0">Choose the <span>Plans of your Needs</span></h2> -->
					<h2 class="section-title mb-0 mt-4">বিভাগ অনুযায়ী ডাক্তারগণ</h2>
				</div>

				{% for department in departments %}
					<div class="d-md-flex justify-content-between mb-3 mb-md-4 mt-4 mt-md5">
						<h4>{{ department.name }} বিভাগ </h4>
						  <!-- url 'department_doctors' department.slug "> -->
						  <p class="mb-0 mt-2">
							{{ department.name }} বিভাগের সকল ডাক্তার দেখতে, 
							<a href="{% url 'department_doctors' department.slug %}" class="text-danger text-decoration-underline">  এখানে ক্লিক করুন</a>
						  </p>
						  
					</div>

					<div class="row">
						{% for doctor in department.doctors.all %}
						<div class="col-lg-12">
							{% include 'doctor/components//doctor_card.html' %}
						</div>
						{% endfor %}
					</div>
					
					{% empty %}
						<p>No doctors available</p>

				{% endfor %}

				
			</div>
		</section>





		<!-- Speciality Section End -->

		<!-- Work Section -->
		<section class="section work-section-two">
			<div class="container">

				<div class="row">
					<div class="col-xl-5">
						<div class="work-img-two">
							<img src="{% static 'img/about/about-01.png' %}" alt="work" class="img-fluid">
						</div>
					</div>

					<div class="col-xl-7 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						<div class="section-header section-header-two text-start">
							<div class="section-sub-title"><img src="{% static 'img/icons/section-icon.svg' %}" alt="icon">How it Works</div>
							<h2 class="section-title mb-0">4 Easy Steps to <span>Get Your Solution</span></h2>
						</div>
						<div class="row g-4">

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="{% static 'img/icons/search.svg' %}" alt="search doctor">	
									</div>
									<div>
										<h3 class="custom-title">Search Doctor</h3>
										<p>Search for a doctor based on specialization, location, or availability. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="{% static 'img/icons/profile.svg' %}" alt="profile">	
									</div>
									<div>
										<h3 class="custom-title">Check Profile</h3>
										<p>Explore detailed doctor profiles on our platform to make informed healthcare. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="{% static 'img/icons/schedule.svg' %}" alt="booking">	
									</div>
									<div>
										<h3 class="custom-title">Schedule Boooking</h3>
										<p>After choose your preferred doctor, select a convenient time slot, & confirm. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="{% static 'img/icons/solution.svg' %}" alt="your solution">	
									</div>
									<div>
										<h3 class="custom-title">Get Your Solution</h3>
										<p>Search for a doctor based on specialization, location, or availability. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

						</div>
					</div>
				</div>
			</div>
			<img src="{% static 'img/bg/about-bg.png' %}" alt="bg" class="img-fluid work-bg-01">
			<img src="{% static 'img/bg/work-bg.png' %}" alt="bg" class="work-bg-02">
			<img src="{% static 'img/bg/work-bg-01.png' %}" alt="bg" class="work-bg-03">
			<img src="{% static 'img/bg/work-bg-02.png' %}" alt="bg" class="work-bg-04">
		</section>
		<!-- Work Section End -->

		<!-- Testimonial Section -->
		<!-- <section class="section testimonial-section-two">
			<div class="container-fluid">

				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="assets/img/icons/section-icon.svg" alt="icon">Client Reviews</div>
					<h2 class="section-title mb-0">What Our Patients <span>Say About Us</span></h2>
				</div>
			

				<div class="testimonial-slider-two">

					<div class="testimonial-item-two">
						<div class="testimonial-author-img">
							<img src="assets/img/patients/patient22.jpg" class="rounded-circle" alt="patient">
						</div>
						<div class="quote-icon">
							<img src="assets/img/icons/quote-icon-01.svg" alt="quote">
						</div>
						<div class="testimonial-content">
							<p class="description">The emergency department responded promptly and efficiently when I arrived with severe pain. The doctors didn’t rush and made sure I understood. Best healthcare experiences</p>
						</div>
						<div class="testimonial-author-info">
							<div>
								<h3 class="custom-title">Daniel Carter</h3>
								<p class="author-location">Dallas, CA</p>
							</div>
							<div class="rating">
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled"></i>
							</div>
						</div>
					</div>
			

	

				</div>

			</div>
		</section> -->
		<!-- Testimonial Section End -->

		<!-- App Section -->
		<!-- <section class="app-section-two">
			<div class="container">
				<div class="company-slider-two">
					<div class="slide-item">
						<img src="assets/img/company/company-09.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-10.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-11.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-12.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-13.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-14.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-11.svg" alt="client logo">
					</div>
				</div>
				<div class="app-sec">
					<div class="row align-items-end">
						<div class="col-lg-6">
							<div class="app-content d-flex flex-column justify-content-center">

								<div class="section-header sec-header-one wow fadeInUp" data-wow-duration="1s">
									<p class="sub-title">Working for Your Better Health.</p>
									<h2 class="section-title">Download the Doccure App today!</h2>
								</div>
								<div class="app-imgs wow fadeInUp" data-wow-duration="1s">
									<a href="javascript:void(0);"><img src="assets/img/icons/app-store.svg" alt="apple-icon"></a>
									<a href="javascript:void(0);"><img src="assets/img/icons/google-play.svg" alt="google-play"></a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
							<div class="app-img">
								<img src="assets/img/about/app-01.png" class="img-fluid" alt="app">
							</div>
						</div>
					</div>
					<img src="assets/img/bg/app-bg-05.png" alt="img" class="app-bg-01">
				</div>
			</div>
		</section> -->
		<!-- App Section End -->	

		<!-- Blog Section -->
		<section class="section blog-section">
			<div class="container">

				<!-- Section Header -->
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="{% static 'img/icons/section-icon.svg' %}" alt="icon">Blogs & Articles</div>
					<h2 class="section-title mb-0">Latest News & Stories</h2>
				</div>
				<!-- Section Header End -->

				<div class="row justify-content-center g-4">

					{% for blog in blogs %}
					<div class="col-lg-4 col-md-6 d-flex">

						<!-- Blog Post -->
						{% include 'blog/components/blog_card.html' %}
						<!-- Blog Post End -->

					</div>
					{% endfor %}
					
				</div>
				<div class="view-all text-center wow fadeInUp" data-wow-duration="1s">
					<a href="{% url 'blogs' %}" class="btn btn-md btn-dark">View All Blogs</a>
				</div>
			</div>
		</section>
		<!-- Blog Section End -->



		

		<!-- Cursor -->
		<!-- <div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div> -->
		<!-- /Cursor -->

{% endblock content %}