{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}    {% endblock title %}

{% block content %}

		<!-- Banner -->
		<section class="banner-section-two" style="background: radial-gradient(84.63% 354.2% at 71.21% 68.89%, #4EDEC1 0%, #316DFF 41.35%, #316DFF 80.92%, #31436D 99.99%, #FFFFFF 100%);;">
			<div class="container">
				<div class="row align-items-end">
					<div class="col-xl-6">
						<div class="banner-content wow fadeInUp" data-wow-duration="1s">
							<!-- <div class="banner-badge">
								<span>Advanced Technology</span> 
								<p>Comprehensive diagnosis by top specialists.</p>
							</div> -->
							<h1>{{ hero_overview.heading }} </h1>
							<p>{{ hero_overview.short_description }}</p>
							<a href="#" class="btn btn-md btn-white"><i class="isax isax-lock me-2"></i>Book an Appointment</a>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="banner-img wow fadeInUp" data-wow-duration="2s">
							{% if hero_overview.image %}
							<img src="{{ hero_overview.image.url }}" alt="banner" class="img-fluid">
							{% endif %}
							<div class="banner-user-call">
								{% if hero_overview.calling_photo %}
								<span class="avatar">
									<img src="{{ hero_overview.calling_photo.url }}"  alt="patient" class="img-fluid rounded-circle">
								</span>
								{% else %}
								<span class="avatar">
									<img src="{% static 'img/patients/patient22.jpg' %}"  alt="patient" class="img-fluid rounded-circle">
								</span>
								{% endif %}
								<p>Calling.......</p>
							</div>
							<div class="call-items">
								<!-- <a href="#" class="item-1 item"><i class="isax isax-video"></i></a>
								<a href="#" class="item-2 item"><i class="isax isax-call-slash"></i></a>
								<a href="#" class="item-3 item"><i class="isax isax-microphone-2"></i></a> -->

								<a href="#" class="item-1 item"><i class="fa-solid fa-envelope-open"></i> </a>
								<a href="#" class="item-2 item"><i class="fa-solid fa-phone"></i></a>
								<a href="#" class="item-3 item"><i class="fa-brands fa-facebook"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img  src="{% static 'img/bg/banner-01.png' %}" alt="bg" class="img-fluid banner-bg-01">
			<img  src="{% static 'img/bg/banner-02.png' %}" alt="bg" class="img-fluid banner-bg-02">
			<img  src="{% static 'img/bg/banner-03.png' %}" alt="bg" class="img-fluid banner-bg-03">
			<img  src="{% static 'img/bg/banner-04.png' %}" alt="bg" class="img-fluid banner-bg-04">
			<img  src="{% static 'img/bg/banner-05.png' %}" alt="bg" class="img-fluid banner-bg-05">
			<img  src="{% static 'img/bg/banner-06.png' %}" alt="bg" class="img-fluid banner-bg-06">
			<img  src="{% static 'img/bg/banner-07.png' %}" alt="bg" class="img-fluid banner-bg-07">
		</section>
		<!-- Banner End -->

		<!-- Slider Section -->
		<section class="slider-section wow fadeInUp" data-wow-duration="1s">
			<div class="horizontal-slide slide-one bg-primary d-flex" data-direction="left" data-speed="slow">
				<div class="slide-list d-flex gap-4">
					<div class="services-slide">
						<h3>Certified Medical Professionals</h3>
					</div>
					<div class="services-slide">
						<h3>Advanced Diagnostic Tools</h3>
					</div>
					<div class="services-slide">
						<h3>Online Appointment Booking</h3>
					</div>
					<div class="services-slide">
						<h3>Electronic Health Records</h3>
					</div>
				</div>
			</div>
			<div class="horizontal-slide slide-two bg-dark d-flex" data-direction="right" data-speed="slow">
				<div class="slide-list d-flex gap-4">
					<div class="services-slide">
						<h3>Fast Reports & Test Results</h3>
					</div>
					<div class="services-slide">
						<h3>Telemedicine Consultations</h3>
					</div>
					<div class="services-slide">
						<h3>Health Monitoring & Follow-Ups</h3>
					</div>
					<div class="services-slide">
						<h3>Emergency & Critical Care</h3>
					</div>
				</div>
			</div>
		</section>
		<!-- Slider Section End -->

		<!-- Service Section -->
		<section class="section service-section pt-4 pt-lg-5">
			<div class="container">

				<a href="#" class="text-end text-primary d-block mb-4">See more</a>

				<div class="row g-4">

					<!-- Service Item -->
					<div class="col-xl-2 col-lg-4 col-sm-6 d-flex">
						<div class="services-item-two bg-primary-transparent w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
							<div class="service-icon">
								<img src="{% static 'img/icons/booking.svg' %}" alt="booking" class="img-fluid">
							</div>
							<h3><a href="booking.html">Book Appointment</a></h3>
						</div>
					</div>
					<!-- Service Item End -->

					<!-- Service Item -->
					{% for service in services %}
					<div class="col-xl-2 col-lg-4 col-sm-6 d-flex">
						<div class="services-item-two w-100 wow fadeInUp {% cycle 'bg-success-transparent' 'bg-pink-transparent' 'bg-gray-transparent' 'bg-secondary-transparent' 'bg-orange-transparent' 'bg-primary-transparent' %}" data-wow-delay="0.2s" data-wow-duration="2s">
							{% if service.service_icon %}
							<div class="service-icon">
								<img src="{{ service.service_icon.url }}" alt="lab" class="img-fluid">
							</div>
							{% endif %}
							<h3><a href="#">Lab Testing Services</a></h3>
						</div>
					</div>
					{% endfor %}
					<!-- Service Item End -->

				</div>

			</div>
		</section>
		<!-- Service Section End -->

		<!-- About Section -->
		<section class="section about-section-two">
			<div class="container">
				<div class="row align-items-center">
					
					<!-- About Img -->
					<div class="col-lg-6">
						<div class="about-img-two wow fadeInUp" data-wow-duration="2s">
							{% if about_us.photo %}
							<img src="{{ about_us.photo.url }}" alt="about" class="img-fluid">
							{% endif %}
							<a href="{{ about_us.video_url }}" target="_blank" data-fancybox>
								<button class="animate-button" data-text="Play Video · Play Video ·">
									<p class="button-text"></p>
									<span class="button-circle">
										<i class="isax isax-play"></i>
									</span>
								</button>
							</a>
						</div>
					</div>
					<!-- About Img End -->
					
					<!-- About Content -->
					<div class="col-lg-6">
						<div class="about-content-two">
							<div class="section-header section-header-two">
								<div class="section-sub-title"><img src="{% static 'img/icons/section-icon.svg' %}" alt="icon">About Us</div>
								<!-- <h2 class="section-title">We Understand That Each One Is Unique & Their <span>Health Journey.</span></h2> -->
								<h2 class="section-title">{{ about_us.heading }}</h2>
								<p>{{ about_us.short_message }}</p>
							</div>
							<div class="row g-4">
								<div class="col-md-6">
									<div class="mission-item wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
										<div class="mission-inner">
											<div class="mission-info">
												<div class="mission-icon bg-primary">
													<img src="{% static 'img/icons/mission.svg' %}" alt="mission" class="img-fluid">
												</div>
												<h3 class="custom-title">Our Mission</h3>
											</div>
											<p style="height: 100%;">{{ about_us.mission }}</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mission-item wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="4s">
										<div class="mission-inner">
											<div class="mission-info">
												<div class="mission-icon bg-secondary">
													<img src="{% static 'img/icons/vision.svg' %}" alt="vision" class="img-fluid">
												</div>
												<h3 class="custom-title">Our Vision</h3>
											</div>
											<p style="height: 100%;">{{ about_us.vision }}</p>
										</div>
									</div>
								</div>
							</div>
							<a href="about-us.html" class="btn btn-md btn-primary">Know More<i class="isax isax-arrow-right-34 ms-2"></i></a>
						</div>
					</div>
					<!-- About Content End -->

				</div>
			</div>
			<img src="{% static 'img/bg/about-bg.png' %}" alt="icon" class="img-fluid about-bg-01">
		</section>
		<!-- About Section End -->

		<!-- Department Section -->
		<section class="section speciality-section-two">
			<div class="container">
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="{% static 'img/icons/section-icon.svg' %}" alt="icon">Specialities</div>
					<h2 class="section-title mb-0 mt-4">প্রতিটি প্রয়োজনে  <span>চিকিৎসা সহায়তা</span></h2>
				</div>

				<div class="row">
						{% for department in departments %}
						<div class="col-lg-3 col-sm-6">
							<div class="card speciality-item">
                                <div class="card-body p-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
											{% if department.department_icon %}
                                            <a href="doctor-grid.html" class="speciality-icon">
                                                <img src="{{ department.department_icon.url }}" alt="{{ department.name }} icon">
                                            </a>
											{% endif %}
                                            <div class="ms-3">
                                                <h6 class="mb-1"><a href="doctor-grid.html">{{ department.name }}</a></h6>
                                                <p class="fs-14 mb-0">151 Doctors</p>
                                            </div>
                                        </div>
                                        <a href="doctor-grid.html" class="link-icon"><i class="isax isax-arrow-right-3"></i></a>
                                    </div>
                                </div>
                            </div>
						</div>
						{% endfor %}

					
					</div>
                    <div class="loader-item text-center">
                        <a href="#" class="btn btn-primary d-inline-flex align-items-center">
                            <i class="isax isax-d-cube-scan me-2"></i>Load More 15 Specialities
                        </a>
                    </div>

				<!-- <div class="row justify-content-center g-4">

					
					<div class="col-xl-3 col-lg-4 col-md-6 d-flex">
						<div class="speciality-item-two w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
							<div class="speciality-info">
								<a href="doctor-grid.html" class="speciality-icon">
									<img src="assets/img/icons/specilaity-01.svg" alt="speciality">
								</a>
								<div>
									<h3 class="custom-title"><a href="doctor-grid.html">Urology</a></h3>
									<p>21 Doctors</p>
								</div>
							</div>
							<a href="doctor-grid.html" class="link-icon"><i class="isax isax-arrow-right-1"></i></a>
						</div>
					</div>

				</div> -->

			</div>
		</section>
		<!-- Speciality Section End -->

		<!-- Doctor Section -->
		<section class="section doctor-section-two">
			<div class="container">

				<!-- Section Header -->
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="assets/img/icons/section-icon.svg" alt="icon">Our Team</div>
					<h2 class="section-title mb-0">Top Specialists <span>Dedicated to Your Care</span></h2>
				</div>
				<!-- Section Header End -->

				<div class="row g-4">
					<div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">

						<!-- Doctor Widget -->
						<div class="doctor-item-two">
							<div class="doctor-image">
								<a href="doctor-profile.html">
									<img class="img-fluid" alt="doctor" src="assets/img/doctors/general-01.jpg">
								</a>
							</div>
							<div class="doctor-content">
								<h3 class="custom-title">
									<a href="doctor-profile.html">Dr. Hattie Driskell</a>
								</h3>
								<p class="speciality">Orthopedic</p>
								<div class="available-info">
									<p><i class="isax isax-location me-1"></i>Los Angeles, CA</p>
									<span class="badge bg-success"><i class="fa-solid fa-circle fs-5 me-1"></i>Available</span>
								</div>
								<a href="booking.html" class="btn btn-md btn-light w-100"><i class="isax isax-calendar-1 me-2"></i>Book Now</a>
							</div>
						</div>
						<!-- Doctor Widget End -->

					</div>

					<div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						
						<!-- Doctor Widget -->
						<div class="doctor-item-two">
							<div class="doctor-image">
								<a href="doctor-profile.html">
									<img class="img-fluid" alt="doctor" src="assets/img/doctors/general-02.jpg">
								</a>
							</div>
							<div class="doctor-content">
								<h3 class="custom-title">
									<a href="doctor-profile.html">Dr. Calvin Haley</a>
								</h3>
								<p class="speciality">Dentist</p>
								<div class="available-info">
									<p><i class="isax isax-location me-1"></i>Austin, TX</p>
									<span class="badge bg-success"><i class="fa-solid fa-circle fs-5 me-1"></i>Available</span>
								</div>
								<a href="booking.html" class="btn btn-md btn-light w-100"><i class="isax isax-calendar-1 me-2"></i>Book Now</a>
							</div>
						</div>
						<!-- Doctor Widget End -->

					</div>

					<div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						
						<!-- Doctor Widget -->
						<div class="doctor-item-two">
							<div class="doctor-image">
								<a href="doctor-profile.html">
									<img class="img-fluid" alt="doctor" src="assets/img/doctors/general-03.jpg">
								</a>
							</div>
							<div class="doctor-content">
								<h3 class="custom-title">
									<a href="doctor-profile.html">Dr. Lisa Labonte</a>
								</h3>
								<p class="speciality">Neurologist</p>
								<div class="available-info">
									<p><i class="isax isax-location me-1"></i>Newyork, USA</p>
									<span class="badge bg-success"><i class="fa-solid fa-circle fs-5 me-1"></i>Available</span>
								</div>
								<a href="booking.html" class="btn btn-md btn-light w-100"><i class="isax isax-calendar-1 me-2"></i>Book Now</a>
							</div>
						</div>
						<!-- Doctor Widget End -->

					</div>

					<div class="col-xl-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						
						<!-- Doctor Widget -->
						<div class="doctor-item-two">
							<div class="doctor-image">
								<a href="doctor-profile.html">
									<img class="img-fluid" alt="doctor" src="assets/img/doctors/general-04.jpg">
								</a>
							</div>
							<div class="doctor-content">
								<h3 class="custom-title">
									<a href="doctor-profile.html">Dr. James Davidson</a>
								</h3>
								<p class="speciality">Immunologist</p>
								<div class="available-info">
									<p><i class="isax isax-location me-1"></i>Waipahu, HI</p>
									<span class="badge bg-success"><i class="fa-solid fa-circle fs-5 me-1"></i>Available</span>
								</div>
								<a href="booking.html" class="btn btn-md btn-light w-100"><i class="isax isax-calendar-1 me-2"></i>Book Now</a>
							</div>
						</div>
						<!-- Doctor Widget End -->

					</div>

				</div>
			</div>
			<img src="assets/img/bg/doctor-bg-01.png" alt="bg" class="img-fluid doctor-bg-01">
			<img src="assets/img/bg/about-bg.png" alt="bg" class="img-fluid doctor-bg-02">
		</section>
		<!-- Doctor Section End -->
		 
		<!-- Speciality Section -->
		<section class="section speciality-section-two">
			<div class="container">
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="assets/img/icons/section-icon.svg" alt="icon">Pricing Plan</div>
					<h2 class="section-title mb-0">Choose the <span>Plans of your Needs</span></h2>
				</div>

				<div class="row align-items-end g-4">

					<!-- Price Item -->
					<div class="col-xl-3 col-md-6 d-flex">
						<div class="price-item flex-fill wow fadeInUp" data-wow-duration="1s">
							<div class="price-header">
								<p class="sub-title">Free</p>
								<div class="price">$0<span>/monthly</span></div>
								<a href="login.html" class="btn btn-md btn-dark">Get Started</a>
							</div>
							<div class="price-body">
								<h3>What’s included</h3>
								<ul>
									<li>1 Users</li>
									<li>EMR / EHR</li>
									<li>Billing & Payments</li>
									<li>Family Account Management</li>
									<li>Order Tests, Track Samples</li>
									<li>Report Generation</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Price Item End -->

					<!-- Price Item -->
					<div class="col-xl-3 col-md-6 d-flex">
						<div class="price-item flex-fill wow fadeInUp" data-wow-duration="1s">
							<div class="price-header">
								<p class="sub-title">Basic</p>
								<div class="price">$39<span>/monthly</span></div>
								<a href="login.html" class="btn btn-md btn-dark">Get Started</a>
							</div>
							<div class="price-body">
								<h3>What’s included</h3>
								<ul>
									<li>10 Users</li>
									<li>Pharmacy Access</li>
									<li>Automate Billing</li>
									<li>Family Account Management</li>
									<li>Order Tests, Track Samples</li>
									<li>Analytics & Reports</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Price Item End -->

					<!-- Price Item -->
					<div class="col-xl-3 col-md-6 d-flex">
						<div class="price-item active flex-fill wow fadeInUp" data-wow-duration="1s">
							<span class="recommend">Recommended</span>
							<div class="price-header">
								<p class="sub-title">Premium</p>
								<div class="price">$99<span>/monthly</span></div>
								<a href="login.html" class="btn btn-md btn-dark">Get Started</a>
							</div>
							<div class="price-body">
								<h3>What’s included</h3>
								<ul>
									<li>100 Users</li>
									<li>Billing & Invoicing</li>
									<li>Dedicated Support</li>
									<li>Family Account Management</li>
									<li>Order Tests, Track Samples</li>
									<li>Analytics & Reports</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Price Item End -->

					<!-- Price Item -->
					<div class="col-xl-3 col-md-6 d-flex">
						<div class="price-item flex-fill wow fadeInUp" data-wow-duration="1s">
							<div class="price-header">
								<p class="sub-title">Enterprise</p>
								<div class="price">$129<span>/monthly</span></div>
								<a href="login.html" class="btn btn-md btn-dark">Get Started</a>
							</div>
							<div class="price-body">
								<h3>What’s included</h3>
								<ul>
									<li>Unlimited Users</li>
									<li>Pharmacy Access</li>
									<li>Dedicated Support</li>
									<li>Family Account Management</li>
									<li>Order Tests, Track Samples</li>
									<li>Analytics & Reports</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Price Item End -->

				</div>
			</div>
		</section>
		<!-- Speciality Section End -->

		<!-- Work Section -->
		<section class="section work-section-two">
			<div class="container">

				<div class="row">
					<div class="col-xl-5">
						<div class="work-img-two">
							<img src="assets/img/about/about-01.png" alt="work" class="img-fluid">
						</div>
					</div>

					<div class="col-xl-7 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						<div class="section-header section-header-two text-start">
							<div class="section-sub-title"><img src="assets/img/icons/section-icon.svg" alt="icon">How it Works</div>
							<h2 class="section-title mb-0">4 Easy Steps to <span>Get Your Solution</span></h2>
						</div>
						<div class="row g-4">

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="assets/img/icons/search.svg" alt="search doctor">	
									</div>
									<div>
										<h3 class="custom-title">Search Doctor</h3>
										<p>Search for a doctor based on specialization, location, or availability. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="assets/img/icons/profile.svg" alt="profile">	
									</div>
									<div>
										<h3 class="custom-title">Check Profile</h3>
										<p>Explore detailed doctor profiles on our platform to make informed healthcare. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="assets/img/icons/schedule.svg" alt="booking">	
									</div>
									<div>
										<h3 class="custom-title">Schedule Boooking</h3>
										<p>After choose your preferred doctor, select a convenient time slot, & confirm. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

							<!-- Work Item -->
							<div class="col-md-6 d-flex">
								<div class="work-item w-100 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">
									<div class="work-icon">
										<img src="assets/img/icons/solution.svg" alt="your solution">	
									</div>
									<div>
										<h3 class="custom-title">Get Your Solution</h3>
										<p>Search for a doctor based on specialization, location, or availability. </p>
									</div>
								</div>
							</div>
							<!-- Work Item End -->

						</div>
					</div>
				</div>
			</div>
			<img src="assets/img/bg/about-bg.png" alt="bg" class="img-fluid work-bg-01">
			<img src="assets/img/bg/work-bg.png" alt="bg" class="work-bg-02">
			<img src="assets/img/bg/work-bg-01.png" alt="bg" class="work-bg-03">
			<img src="assets/img/bg/work-bg-02.png" alt="bg" class="work-bg-04">
		</section>
		<!-- Work Section End -->

		<!-- Testimonial Section -->
		<section class="section testimonial-section-two">
			<div class="container-fluid">

				<!-- Section Header -->
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="assets/img/icons/section-icon.svg" alt="icon">Client Reviews</div>
					<h2 class="section-title mb-0">What Our Patients <span>Say About Us</span></h2>
				</div>
				<!-- Section Header End -->

				<div class="testimonial-slider-two">

					<!-- Testimonial Item -->
					<div class="testimonial-item-two">
						<div class="testimonial-author-img">
							<img src="assets/img/patients/patient22.jpg" class="rounded-circle" alt="patient">
						</div>
						<div class="quote-icon">
							<img src="assets/img/icons/quote-icon-01.svg" alt="quote">
						</div>
						<div class="testimonial-content">
							<p class="description">The emergency department responded promptly and efficiently when I arrived with severe pain. The doctors didn’t rush and made sure I understood. Best healthcare experiences</p>
						</div>
						<div class="testimonial-author-info">
							<div>
								<h3 class="custom-title">Daniel Carter</h3>
								<p class="author-location">Dallas, CA</p>
							</div>
							<div class="rating">
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled"></i>
							</div>
						</div>
					</div>
					<!-- Testimonial Item End -->

					<!-- Testimonial Item -->
					<div class="testimonial-item-two">
						<div class="testimonial-author-img">
							<img src="assets/img/patients/patient25.jpg" class="rounded-circle" alt="patient">
						</div>
						<div class="quote-icon">
							<img src="assets/img/icons/quote-icon-01.svg" alt="quote">
						</div>
						<div class="testimonial-content">
							<p class="description">The care I received at this hospital was exceptional. The doctors explained everything clearly, the nurses were incredibly kind, and the facilities were spotless. I felt safe, supported, and genuinely cared for throughout my stay. Truly one of the best healthcare experiences.</p>
						</div>
						<div class="testimonial-author-info">
							<div>
								<h3 class="custom-title">Jeni Adams</h3>
								<p class="author-location">Los Boston, USA</p>
							</div>
							<div class="rating">
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled"></i>
							</div>
						</div>
					</div>
					<!-- Testimonial Item End -->

					<!-- Testimonial Item -->
					<div class="testimonial-item-two">
						<div class="testimonial-author-img">
							<img src="assets/img/patients/patient24.jpg" class="rounded-circle" alt="patient">
						</div>
						<div class="quote-icon">
							<img src="assets/img/icons/quote-icon-01.svg" alt="quote">
						</div>
						<div class="testimonial-content">
							<p class="description">Exceptional service and a friendly atmosphere. The staff is knowledgeable and truly cares about their patients health, ensuring every visit is enjoyable.</p>
						</div>
						<div class="testimonial-author-info">
							<div>
								<h3 class="custom-title">Mike Smith</h3>
								<p class="author-location">San Francisco, CA</p>
							</div>
							<div class="rating">
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled"></i>
							</div>
						</div>
					</div>
					<!-- Testimonial Item End -->

					<!-- Testimonial Item -->
					<div class="testimonial-item-two">
						<div class="testimonial-author-img">
							<img src="assets/img/patients/patient27.jpg" class="rounded-circle" alt="patient">
						</div>
						<div class="quote-icon">
							<img src="assets/img/icons/quote-icon-01.svg" alt="quote">
						</div>
						<div class="testimonial-content">
							<p class="description">The staff is knowledgeable and truly cares about their patients health, ensuring every visit is enjoyable. Exceptional service and a friendly atmosphere.</p>
						</div>
						<div class="testimonial-author-info">
							<div>
								<h3 class="custom-title">Mark Andrew</h3>
								<p class="author-location">San Francisco, CA</p>
							</div>
							<div class="rating">
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled me-1"></i>
								<i class="fa-solid fa-star filled"></i>
							</div>
						</div>
					</div>
					<!-- Testimonial Item End -->

				</div>

			</div>
		</section>
		<!-- Testimonial Section End -->

		<!-- App Section -->
		<section class="app-section-two">
			<div class="container">
				<div class="company-slider-two">
					<div class="slide-item">
						<img src="assets/img/company/company-09.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-10.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-11.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-12.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-13.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-14.svg" alt="client logo">
					</div>
					<div class="slide-item">
						<img src="assets/img/company/company-11.svg" alt="client logo">
					</div>
				</div>
				<div class="app-sec">
					<div class="row align-items-end">
						<div class="col-lg-6">
							<div class="app-content d-flex flex-column justify-content-center">

								<div class="section-header sec-header-one wow fadeInUp" data-wow-duration="1s">
									<p class="sub-title">Working for Your Better Health.</p>
									<h2 class="section-title">Download the Doccure App today!</h2>
								</div>
								<div class="app-imgs wow fadeInUp" data-wow-duration="1s">
									<a href="javascript:void(0);"><img src="assets/img/icons/app-store.svg" alt="apple-icon"></a>
									<a href="javascript:void(0);"><img src="assets/img/icons/google-play.svg" alt="google-play"></a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 wow fadeInUp" data-wow-duration="1s">
							<div class="app-img">
								<img src="assets/img/about/app-01.png" class="img-fluid" alt="app">
							</div>
						</div>
					</div>
					<img src="assets/img/bg/app-bg-05.png" alt="img" class="app-bg-01">
				</div>
			</div>
		</section>
		<!-- App Section End -->	

		<!-- Blog Section -->
		<section class="section blog-section">
			<div class="container">

				<!-- Section Header -->
				<div class="section-header section-header-two">
					<div class="section-sub-title"><img src="assets/img/icons/section-icon.svg" alt="icon">Blogs & Articles</div>
					<h2 class="section-title mb-0">Latest News & Stories</h2>
				</div>
				<!-- Section Header End -->

				<div class="row justify-content-center g-4">
					<div class="col-lg-4 col-md-6 d-flex">

						<!-- Blog Post -->
						<div class="blog-item-two w-100 wow fadeInUp" data-wow-duration="1s">
							<div class="blog-img">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/general-blog-01.jpg" alt="blog">
								</a>
								<a href="blog-grid.html" class="badge">Health Awareness</a>
							</div>
							<div class="blog-content">
								<div class="blog-user-info">
									<div class="blog-user">
										<a href="#" class="avatar avatar-md">
											<img src="assets/img/patients/patient12.jpg" class="img-fluid rounded-circle" alt="user">
										</a>
										<a href="#">Grace Morgan</a>
									</div>
									<p class="date">10, Sep 2026</p>
								</div>
								<h3 class="custom-title"><a href="blog-details.html">The Importance of Early Diagnosis: Why Timing Matters...</a></h3>
								<p class="mb-0">Early diagnosis can dramatically improve treatment success. Detecting conditions in their earliest...</p>
							</div>
						</div>
						<!-- Blog Post End -->

					</div>
					<div class="col-lg-4 col-md-6 d-flex">


						<!-- Blog Post -->
						<div class="blog-item-two w-100 wow fadeInUp" data-wow-duration="1s">
							<div class="blog-img">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/general-blog-02.jpg" alt="blog">
								</a>
								<a href="blog-grid.html" class="badge">Healthcare Technology</a>
							</div>
							<div class="blog-content">
								<div class="blog-user-info">
									<div class="blog-user">
										<a href="#" class="avatar avatar-md">
											<img src="assets/img/patients/patient20.jpg" class="img-fluid rounded-circle" alt="user">
										</a>
										<a href="#">Daniel Scott</a>
									</div>
									<p class="date">15, Sep 2026</p>
								</div>
								<h3 class="custom-title"><a href="blog-details.html">How Technology Is Transforming Modern Hospitals</a></h3>
								<p class="mb-0">Hospitals today use advanced diagnostics, AI tools, robotic surgeries, and digital health records...</p>
							</div>
						</div>
						<!-- Blog Post End -->

					</div>
					<div class="col-lg-4 col-md-6 d-flex">

						<!-- Blog Post -->
						<div class="blog-item-two w-100 wow fadeInUp" data-wow-duration="1s">
							<div class="blog-img">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/general-blog-03.jpg" alt="blog">
								</a>
								<a href="blog-grid.html" class="badge">General Dentistry</a>
							</div>
							<div class="blog-content">
								<div class="blog-user-info">
									<div class="blog-user">
										<a href="#" class="avatar avatar-md">
											<img src="assets/img/patients/patient21.jpg" class="img-fluid rounded-circle" alt="user">
										</a>
										<a href="#">Jacob Allen</a>
									</div>
									<p class="date">25, Sep 2026</p>
								</div>
								<h3 class="custom-title"><a href="blog-details.html">How Technology Is Transforming Modern Hospitals</a></h3>
								<p class="mb-0">Hospitals today use advanced diagnostics, AI tools, robotic surgeries, and digital health records...</p>
							</div>
						</div>
						<!-- Blog Post End -->

					</div>
				</div>
				<div class="view-all text-center wow fadeInUp" data-wow-duration="1s">
					<a href="blog-list.html" class="btn btn-md btn-dark">View All Blogs</a>
				</div>
			</div>
		</section>
		<!-- Blog Section End -->

		<!-- Health Section -->
		<section class="section health-section trail-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<div class="content-img">
							<div class="content-img-single">
								<img src="assets/img/about/health-03.jpg" class="img-fluid" alt="health">
							</div>
						</div>
						<div class="content-img">
							<div class="content-img-single">
								<img src="assets/img/about/health-04.jpg" class="img-fluid" alt="health">
							</div>
						</div>
						<div class="content-img">
							<div class="content-img-single">
								<img src="assets/img/about/health-05.jpg" class="img-fluid" alt="health">
							</div>
						</div>
						<div class="health-content">
							<h2><span class="health-img"><img src="assets/img/about/health-01.jpg" alt="health" class="img-fluid"></span> From common illnesses to chronic disease management, we deliver <span class="avatar-list-stacked avatar-group-lg"><span class="avatar"><img src="assets/img/patients/patient24.jpg" alt="patient" class="img-fluid rounded-circle"></span><span class="avatar"><img src="assets/img/patients/patient25.jpg" alt="patient" class="img-fluid rounded-circle"></span><span class="avatar"><img src="assets/img/patients/patient26.jpg" alt="patient" class="img-fluid rounded-circle"></span><span class="avatar"><img src="assets/img/patients/patient27.jpg" alt="patient" class="img-fluid rounded-circle"></span></span> personalized care designed to improve your long-term health. <span class="health-img"><img src="assets/img/about/health-02.jpg" alt="health" class="img-fluid"></span></h2>
						</div>
					</div>
				</div>
			</div>
			<img src="assets/img/bg/doctor-bg-01.png" alt="bg" class="img-fluid health-bg-01">
			<img src="assets/img/bg/banner-05.png" alt="bg" class="img-fluid health-bg-02">
		</section>
		<!-- Health Section End -->

		

		<!-- Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Cursor -->

{% endblock content %}