
<footer class="d-footer">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <p class="mb-0"> 
                Developed by &copy; 
                <a href="https://www.barik.me" target="_blank" style="color: #27b674; font-weight: 500;">
                    <span class="text-primary-600">barik.me</span>
                </a>
                
            </p>
        </div>
        
        <div class="col-auto">
            <p class="mb-0">
                © <script>document.write(new Date().getFullYear())</script> All Rights Reserved | 
                Sherpur Evercare Hospital
            </p>
        </div>

        

        <div class="col-auto">
            
        </div>
        
    </div>
</footer>