{% load static %}

<!-- sidebar start -->
<aside class="sidebar">
  <button type="button" class="sidebar-close-btn">
    <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
  </button>
  <div>
    <a href="{% url 'dashboard' %}" class="sidebar-logo">
        {% if site_setting.header_logo %}
        <img src="{{ site_setting.header_logo.url }}" alt="site logo" style="height: 44px !important;" class="light-logo">
        {% endif %}

      <!-- <img src="assets/images/logo-light.png" alt="site logo" class="dark-logo">
      <img src="assets/images/logo-icon.png" alt="site logo" class="logo-icon"> -->
    </a>
  </div>


  <!-- class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}" -->
<!-- href="javascript:void(0)" -->

  <div class="sidebar-menu-area">
    <ul class="sidebar-menu" id="sidebar-menu">

        <!-- single url  -->
        <li>
            <a href="{% url 'dashboard' %}">
            <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
            <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="{% url 'department_list' %}">
            <iconify-icon icon="solar:document-text-outline" class="menu-icon"></iconify-icon>
            <span>Departments</span>
            </a>
        </li>
        <li>
            <a href="{% url 'service_list' %}">
            <iconify-icon icon="solar:document-text-outline" class="menu-icon"></iconify-icon>
            <span>Services</span>
            </a>
        </li>

        <!-- section  -->
        <!-- <li class="sidebar-menu-group-title">Blogs Manage</li> -->
        <li>
            <a href="{% url 'blog_category_list' %}">
            <i class="ri-news-line text-xl me-14 d-flex w-auto"></i>
            <span>Blog Categories</span>
            </a>
        </li>
        <li>
            <a href="{% url 'blog_list' %}">
            <i class="ri-news-line text-xl me-14 d-flex w-auto"></i>
            <span>Blogs</span>
            </a>
        </li>
        <li>
            <a href="{% url 'contact_list' %}">
            <iconify-icon icon="bi:chat-dots" class="menu-icon"></iconify-icon>
            <span>Contact Message</span>
            </a>
        </li>

        <!-- section  -->
        <!-- <li class="sidebar-menu-group-title">Doctors & Hospital</li> -->

        <!-- dropdown submenu  -->
        <li class="dropdown">
            <a href="javascript:void(0)">
            <iconify-icon icon="icon-park-outline:setting-two" class="menu-icon"></iconify-icon>
            <span>Doctors Manage</span>
            </a>
            <!-- submenu urls -->
            <ul class="sidebar-submenu">
                <li><a href="{% url 'hospital_list' %}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Hospitals</a></li>
                <li><a href="{% url 'specialization_list' %}"><i class="ri-circle-fill circle-icon text-warning-600 w-auto"></i> Specialization</a></li>
                <li><a href="{% url 'doctor_list' %}"><i class="ri-circle-fill circle-icon text-warning-600 w-auto"></i> Doctors</a></li>
                <li><a href="{% url 'doctor_schedule_list' %}"><i class="ri-circle-fill circle-icon text-warning-600 w-auto"></i> Doctor Schedule</a></li>
            </ul>
        </li>

        <!-- section  -->
        <!-- <li class="sidebar-menu-group-title">Settings</li> -->

        <!-- dropdown submenu  -->
        <li class="dropdown">
            <a href="javascript:void(0)">
            <iconify-icon icon="icon-park-outline:setting-two" class="menu-icon"></iconify-icon>
            <span>Site Settings</span>
            </a>
            <!-- submenu urls -->
            <ul class="sidebar-submenu">
                <li><a href="{% url 'hero_overview_form' %}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Hero Overview</a></li>
                <li><a href="{% url 'message_form' %}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Message</a></li>
                <li><a href="{% url 'about_create_or_update' %}"><i class="ri-circle-fill circle-icon text-warning-600 w-auto"></i> About Us</a></li>
            </ul>
        </li>





        

        <!-- bottom  -->
        <div style="position: fixed; bottom: 24px;">
            <li>
                <a href="{% url 'site_setting_form' %}" target="_blank">
                <iconify-icon icon="icon-park-outline:setting-two" class="menu-icon"></iconify-icon>
                <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}" target="_blank">
                <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                <span>Visit Now</span>
                </a>
            </li>
        </div>






    </ul>
  </div>
</aside>


<!-- icons backup  -->
<!-- 
<iconify-icon icon="mage:email" class="menu-icon"></iconify-icon>
<span>Email</span>

<iconify-icon icon="bi:chat-dots" class="menu-icon"></iconify-icon>
<span>Chat</span>

<iconify-icon icon="solar:calendar-outline" class="menu-icon"></iconify-icon>
<span>Calender</span>

<iconify-icon icon="material-symbols:map-outline" class="menu-icon"></iconify-icon>
<span>material-symbols</span>

<iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
<span>Invoice</span>

<i class="ri-robot-2-line text-xl me-14 d-flex w-auto"></i>
<span>Robots</span>

<i class="ri-btc-line text-xl me-14 d-flex w-auto"></i>
<span>Crypto Currency</span>

<iconify-icon icon="solar:document-text-outline" class="menu-icon"></iconify-icon>
<span>Components</span>

<iconify-icon icon="heroicons:document" class="menu-icon"></iconify-icon>
<span>Forms</span>

<iconify-icon icon="mingcute:storage-line" class="menu-icon"></iconify-icon>
<span>Table</span>

<iconify-icon icon="solar:pie-chart-outline" class="menu-icon"></iconify-icon>
<span>Chart</span>

<iconify-icon icon="fe:vector" class="menu-icon"></iconify-icon>
<span>Widgets</span>

<iconify-icon icon="flowbite:users-group-outline" class="menu-icon"></iconify-icon>
<span>Users</span>

<i class="ri-user-settings-line text-xl me-14 d-flex w-auto"></i>
<span>Role & Access</span>

<iconify-icon icon="simple-line-icons:vector" class="menu-icon"></iconify-icon>
<span>Authentication</span>

<iconify-icon icon="solar:gallery-wide-linear" class="menu-icon"></iconify-icon>
<span>Gallery</span>


<iconify-icon icon="hugeicons:money-send-square" class="menu-icon"></iconify-icon>
<span>Pricing</span>

<i class="ri-news-line text-xl me-14 d-flex w-auto"></i>
<span>Blog</span>

<i class="ri-star-line text-xl me-14 d-flex w-auto"></i>
<span>Testimonial</span>

<iconify-icon icon="mage:message-question-mark-round" class="menu-icon"></iconify-icon>
<span>FAQs</span>

<iconify-icon icon="streamline:straight-face" class="menu-icon"></iconify-icon>
<span>Error Pages</span>

<iconify-icon icon="octicon:info-24" class="menu-icon"></iconify-icon>
<span>Terms & Conditions</span>

<i class="ri-rocket-line text-xl me-14 d-flex w-auto"></i>
<span>Coming Soon</span>

<i class="ri-folder-lock-line text-xl me-14 d-flex w-auto"></i>
<span>Access Denied</span>

<i class="ri-hammer-line text-xl me-14 d-flex w-auto"></i>
<span>Maintenance</span>

<i class="ri-checkbox-multiple-blank-line text-xl me-14 d-flex w-auto"></i>
<span>Blank Page</span>

<iconify-icon icon="icon-park-outline:setting-two" class="menu-icon"></iconify-icon>
<span>Settings</span>



 -->













