{% load static %}

<!-- sidebar start -->
<aside class="sidebar">
  <button type="button" class="sidebar-close-btn">
    <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
  </button>
  <div>
    <a href="index.html" class="sidebar-logo">
      <img src="assets/images/logo.png" alt="site logo" class="light-logo">
      <img src="assets/images/logo-light.png" alt="site logo" class="dark-logo">
      <img src="assets/images/logo-icon.png" alt="site logo" class="logo-icon">
    </a>
  </div>


  <!-- class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}" -->
<!-- href="javascript:void(0)" -->

  <div class="sidebar-menu-area">
    <ul class="sidebar-menu" id="sidebar-menu">

        <!-- single url  -->
        <li>
            <a href="{% url 'dashboard' %}">
            <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
            <span>Dashboard</span>
            </a>
        </li>

        <!-- section  -->
        <li class="sidebar-menu-group-title">Settings</li>

        <!-- dropdown submenu  -->
        <li class="dropdown">
            <a href="javascript:void(0)">
            <iconify-icon icon="icon-park-outline:setting-two" class="menu-icon"></iconify-icon>
            <span>Site Settings</span>
            </a>
            <!-- submenu urls -->
            <ul class="sidebar-submenu">
            <li>
                <a href="{% url 'hero_overview_form' %}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Hero Overview</a>
            </li>
            </ul>
        </li>






    </ul>
  </div>
</aside>


<!-- icons backup  -->
<!-- 
<iconify-icon icon="mage:email" class="menu-icon"></iconify-icon>
<span>Email</span>

<iconify-icon icon="bi:chat-dots" class="menu-icon"></iconify-icon>
<span>Chat</span>

<iconify-icon icon="solar:calendar-outline" class="menu-icon"></iconify-icon>
<span>Calender</span>

<iconify-icon icon="material-symbols:map-outline" class="menu-icon"></iconify-icon>
<span>material-symbols</span>

<iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
<span>Invoice</span>

<i class="ri-robot-2-line text-xl me-14 d-flex w-auto"></i>
<span>Robots</span>

<i class="ri-btc-line text-xl me-14 d-flex w-auto"></i>
<span>Crypto Currency</span>

<iconify-icon icon="solar:document-text-outline" class="menu-icon"></iconify-icon>
<span>Components</span>

<iconify-icon icon="heroicons:document" class="menu-icon"></iconify-icon>
<span>Forms</span>

<iconify-icon icon="mingcute:storage-line" class="menu-icon"></iconify-icon>
<span>Table</span>

<iconify-icon icon="solar:pie-chart-outline" class="menu-icon"></iconify-icon>
<span>Chart</span>

<iconify-icon icon="fe:vector" class="menu-icon"></iconify-icon>
<span>Widgets</span>

<iconify-icon icon="flowbite:users-group-outline" class="menu-icon"></iconify-icon>
<span>Users</span>

<i class="ri-user-settings-line text-xl me-14 d-flex w-auto"></i>
<span>Role & Access</span>

<iconify-icon icon="simple-line-icons:vector" class="menu-icon"></iconify-icon>
<span>Authentication</span>

<iconify-icon icon="solar:gallery-wide-linear" class="menu-icon"></iconify-icon>
<span>Gallery</span>


<iconify-icon icon="hugeicons:money-send-square" class="menu-icon"></iconify-icon>
<span>Pricing</span>

<i class="ri-news-line text-xl me-14 d-flex w-auto"></i>
<span>Blog</span>

<i class="ri-star-line text-xl me-14 d-flex w-auto"></i>
<span>Testimonial</span>

<iconify-icon icon="mage:message-question-mark-round" class="menu-icon"></iconify-icon>
<span>FAQs</span>

<iconify-icon icon="streamline:straight-face" class="menu-icon"></iconify-icon>
<span>Error Pages</span>

<iconify-icon icon="octicon:info-24" class="menu-icon"></iconify-icon>
<span>Terms & Conditions</span>

<i class="ri-rocket-line text-xl me-14 d-flex w-auto"></i>
<span>Coming Soon</span>

<i class="ri-folder-lock-line text-xl me-14 d-flex w-auto"></i>
<span>Access Denied</span>

<i class="ri-hammer-line text-xl me-14 d-flex w-auto"></i>
<span>Maintenance</span>

<i class="ri-checkbox-multiple-blank-line text-xl me-14 d-flex w-auto"></i>
<span>Blank Page</span>

<iconify-icon icon="icon-park-outline:setting-two" class="menu-icon"></iconify-icon>
<span>Settings</span>



 -->













